body, html {
  height: 100%;
  margin: 0;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo-element {
  padding: 5px 10px;
}

.logo-sm {
  width: 50px;
  height: 50px;
  background-image: url("../img/logo.png");
  background-size: 100% 100%;
}

.banner-ad {
  width: 300px;
  height: 96px;
  background-color: #f8f8f8;
}

.mw-100 {
  max-width: 100px;
}

.mw-200 {
  max-width: 200px;
}

.mw-300 {
  max-width: 300px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}

.search-box {
  display: inline-block;
  width: 350px;
  vertical-align: middle;
}

.img-upload {
  width: 90px;
  height: 90px;
  background-image: url("../img/img-up-square.png");
  background-size: 100% 100%;
  display: inline-block;
  border: 1px solid #eee;
  cursor: pointer;
  float: left;
  margin-right: 5px;
}
.btn-delete {
  position: relative;
  float: right;
  margin-top: -5px;
  margin-right: -5px;
  margin-bottom: -24px;
  color: #E26A6A;
  text-align: center;
  font-size: 25px;
  line-height: 20px;
  background: #fff;
  border-radius: 50%;
}
.btn-delete:hover{
  opacity: .8;
}
.back {
  color: #999c9e;
  padding: 20px 10px;
  min-height: 50px;
  font-weight: 600;
  float: left;
}

.back a {
  color: #999c9e;
}

/* iCheck plugin Square skin, green
----------------------------------- */

.icheckbox_square-green, .iradio_square-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url("../img/green.png") no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-green {
  background-position: 0 0;
}

.icheckbox_square-green.hover {
  background-position: -24px 0;
}

.icheckbox_square-green.checked {
  background-position: -48px 0;
}

.icheckbox_square-green.disabled {
  background-position: -72px 0;
  cursor: default;
}

.icheckbox_square-green.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-green {
  background-position: -120px 0;
}

.iradio_square-green.hover {
  background-position: -144px 0;
}

.iradio_square-green.checked {
  background-position: -168px 0;
}

.iradio_square-green.disabled {
  background-position: -192px 0;
  cursor: default;
}

.iradio_square-green.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-green, .iradio_square-green {
    background-image: url("../img/green@2x.png");
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}

.ibox-title {
  border-width: 1px 0 0;
}

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 14px;
}

.font-lg {
  font-size: 16px;
}

.font-xlg {
  font-size: 18px;
}

.font-xxlg {
  font-size: 20px;
}

.btn-default {
  background: #E1ECEC;
}

.w-100 {
  min-width: 100px;
}

.logo-red {
  width: 60px;
  height: 45px;
  background-image: url("../img/logo-red.png");
  background-size: 100% 100%;
}

.logo-red-xlg {
  width: 300px;
  height: 225px;
  background-image: url("../img/logo-red.png");
  background-size: 100% 100%;
}
